
/*Reset Basic Styles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


/*Reset Basic Styles*/


/*Styles*/

/* font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Titillium Web', sans-serif; */

body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

body.lock {
	overflow: hidden;
}

p {
	letter-spacing: 0.03em;
    line-height: 1.6em;
	font-weight: 300;
	/* font-size: 17px; */
	font-size: calc(13px + 2 * (100vw / 1200));
}

h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	line-height: 1.2em;
}
h1 {
	/* font-size: 170px; */
	font-weight: 900;
	font-size: calc(50px + 120 * (100vw / 1200));
}

h2 {
	/* font-size: 38px; */
	font-weight: 700;
	font-size: calc(30px + 8 * (100vw / 1200));
}

h3.offer-subtitle {
    /* font-size: 20px; */
    font-weight: 900;
	font-size: calc(15px + 5 * (100vw / 1200));
}

h3 {
	/* font-size: 30px; */
	font-size: calc(26px + 4 * (100vw / 1200));
}

h4 {
	/* font-size: 20px; */
	font-weight: 700;
	font-size: calc(19px + 1 * (100vw / 1200));
}

h5, .header__list {
	font-weight: 500;
	/* font-size: 16px; */
	font-size: calc(17px + 1 * (100vw / 1200));
}

@media (max-width: 767px) {
	h1 {
		font-size: calc(50px + (120 + 120 * 0.7) * ((100vw - 320px) / 1200));
	}
	h2 {
		font-size: calc(24px + (14 + 14 * 0.7) * ((100vw - 320px) / 1200));
	}
	h3 {
		font-size: calc(20px + (10 + 10 * 0.7) * ((100vw - 320px) / 1200));
	}
	h3.offer-subtitle {
		font-size: calc(17px + (3 + 3 * 0.7) * ((100vw - 320px) / 1200));
		letter-spacing: 0.5em;
		line-height: 1em;
	}
	h4 {
		font-size: calc(17px + (3 + 3 * 0.7) * ((100vw - 320px) / 1200));
	}
	h5, .header__list {
		font-size: calc(14px + (3 + 3 * 0.7) * ((100vw - 320px) / 1200));
	}
	p {
		font-size: calc(13px + (2 + 2 * 0.7) * ((100vw - 320px) / 1200));
	}

}

section {
	padding-top: 10vw;
    padding-bottom: 7vw;
}

.section-title {
	margin-bottom: 5vw;
}

.section-subtitle {
	text-transform: none;
	margin: 4% auto 7% auto;
}



.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 20px;
}

.main-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header-wrapper{
	background: #0000007a 50% 0/cover no-repeat;
	border-bottom: 1px solid #fff;
}

.offer-section {
	background: url(../img/header.jpeg) 50% 0/cover no-repeat;
}

.header__logo {
	flex:  0 0 70px;
	z-index: 3;
}

.header__logo img {
	max-width: 100%;
}

.nav {
	
}

.header__body {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	/* font-family: 'Roboto', sans-serif;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;	
	padding: 15px 15px 0px 15px; */
}

.header__menu {
	display: flex;
	align-items: center;
}

.header__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	z-index: 2;
	font-weight: 400;
}

.header__link {
	color: #fff;
}

ul.header__list li {
	padding: 27px 5px;
	margin: 0 15px;
}

ul.header__list li.active {
	border-bottom: 8px solid #11749e;	
}

.header__burger	{
	display: none;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
}

.contacts li a img {
	margin: auto 15px;
}

.offer {
	display: flex;
    margin: 200px auto 100px auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
	text-transform: uppercase;
}

.offer-title {
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}

.offer-subtitle {
    line-height: 1.6em;
    letter-spacing: 1.5em;
    color: #11749e;
    text-align: center;
}



.next {
	display: flex;
    flex-direction: column;
    align-items: center;
	padding-bottom: 110px;
}

.next p {
	margin-bottom: 20px;
}

.scroll {
	padding: 23px 24px;
	border-radius: 90px;
	border: 1px solid #fff;
}

.scroll span {
	display: inline-flex;
	width: 12px;
	height: 12px;
	border-bottom: 4px solid white; 
	border-right: 4px solid white;
	transform: rotate(45deg);
}

.agency {
	background: url(../img/1-section-bg.jpg) 50% 0/cover no-repeat;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.cards {
	display: flex!important;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.card > *:not(:last-child) {
	margin-bottom: 30px;
}

.card {
	margin: 5% 0.92vh;
}

.icon {
	
}

.icon img {
	background-color: #2e85aa;
	padding: 30px;
	margin-bottom: 30px;
}


.icon-title {
	letter-spacing: 0.07em;
}

.icon-text {
	font-weight: 300;
	max-width: 13em;
}

.news {
    padding: 0;
}

.blocks {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.block {
	width: 50%;
	
}

.block-first {
	color: #fff;
	background-color: #222222;
}

.block-second {
	background: url(../img/second-block.jpg) 0 0/cover no-repeat;
	background-size: 100% 100%;
	padding: 0 25%;
}

.block img {
	
}

.block-third {
	background: url(../img/third-block.jpg) 0 0/cover no-repeat;
	padding: 0 25%;
}

.block-fourth {
	color: black;
	background-color: #f3f3f3;
}

.block-info {
	padding: 9.2% 26% 12% 12%;
}

.block-info__2 {
	padding: 9.2% 12% 12% 26%;
}

.date {
	font-weight: 300;
	font-size: 13px;
	margin-bottom: 15px;
}

.block-title {
	margin-bottom: 45px;
}

.block-text {
	line-height: 1.8em;
	letter-spacing: 0.07em;
}

.blog {
	background: url(../img/2-section-bg.jpg) 60%/contain  no-repeat;
}

.blog {
	color: black;
}




.event-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #000;
	transition: all 0.3s ease 0s;
	max-width: 22%;
	margin: 30px 15px;
}

.event-card:hover {
	transform: scale(1.05);
}

.event-card__title {
	letter-spacing: 0.05em;
	color: #11749e;
	margin: 36px auto 21px auto;
}

.event-card__text {
	max-width: 23em;
}

.event-card__img img {
	transition: all 0.3s ease 0s;
}

.event-card__img img:hover {
	transform: scale(0.95);
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.options {
	background: #11749e;
}

.menu-options {
    display: flex;
    flex-wrap: wrap;
}

.option {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.option__icon {
	margin: 7px 30px;
}

.option__text {
	letter-spacing: 0.04em;
	line-height: 1.8em;
	max-width: 30em;
}

.personal {
	background: url(../img/Bg\ personal\ section.jpg) 0 0/cover no-repeat;
}

.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.personal-offer {
	max-width: 40%;
	display: flex;
	flex-direction: column;
}

.personal-offer__text {
	margin: 41px auto 44px auto;
	max-width: 32em;
}

.personal-offer__skill {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.08em;
    line-height: 1em;
	padding: 3% 20% 3% 4.5%;
	background-color: #11749e;
	margin-top: 24px;
}

.skill-1 {
	max-width: 75%;
	padding: 3% 15% 3% 4.5%;
}

.skill-2 {
	max-width: 80%;
}

.skill-3 {
	max-width: 85%;
}

.personal-img img {
	max-width: 320px;
}

.team {
	color: black;
	background: url(../img/bg-team.jpg) 50% 0/cover no-repeat;
}

.team-card {
	position: relative;
	margin: 5% 0.7em;
}
.descript-wrapper {
	font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 13%;
    top: 90%;
    padding: 25px 40px 50px 40px;
    background: #fff;
}

.team-card__title {	
	font-weight: 500;
	color: #11749e;
	font-size: 20px;
}

.team-card__subtitle {
    text-transform: none;
}

.team-card__subtitle__ttu {
    text-transform: uppercase;
}

.feedback {
	background: url(../img/bg-feedback.jpg) 50% 0/cover no-repeat;
}

.form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 100%;
}

input[type="text"], input[type="email"], input[type="tel"], textarea[name="message"] {
	padding-left: 25px;
	padding-right: 25px;
	background: none;
	color: #fff;
	border: #fff solid 1px;
	margin: 20px 13px;
}

input::placeholder, textarea::placeholder {
	color: #fff;
}

input[type="text"], input[type="email"], input[type="tel"] {
	width: 370px;
	height: 45px;
}

textarea[name="message"] {
	width: 90%;
	height: 150px;
	padding-top: 15px;
}

input[type="submit"] {
	transition-duration: 1s;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    background: #11749e;
    color: #fff;
    width: 220px;
    height: 60px;
    padding-bottom: 10px;
}

input[type="submit"]:hover {
	transition-duration: 1s;
	padding-bottom: 0px;
	background: #115a9e;
}

.map-wrapper {
	background: #000; 
}

.map {
	margin-left: 0.5%;
	height: 60vh;
	width: 99%;
	background: #333;
	z-index: 4;
}

.map ymaps {
	-webkit-box-shadow: 0px 0px 60px -50px rgba(163 211 249 / 0.75);
	-moz-box-shadow: 0px 0px 60px -50px rgba(163 211 249 / 0.75);
	box-shadow: 0px 0px 60px -50px rgba(163 211 249 / 0.75);
}

[class*="copyrights-pane"] {
	display: none !important;
}

[class*="ground-pane"] {
	-ms-filter: grayscale(1);

	-webkit-filter: grayscale(1);
	
	-moz-filter: grayscale(1);
	
	-o-filter: grayscale(1);
	
	filter: grayscale(1);
}

.white-block {
	position: absolute;
	margin-left: 0.5%;
	height: 60vh;
	width: 99%;
	background: rgb(195, 195, 195);
	mix-blend-mode: difference;
	z-index: 5;
	pointer-events: none;
}

.footer-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 115px;
	width: 100%;
}

.footer-wrapper p {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.15em;
}

.main-footer {
	position: relative;
	background: #222222;
}

.owl-carousel.item  img {
	  width: 100%;
}
  
  .owl-next, .owl-prev {
	  width: 22px;
	  height: 40px;
	  margin-top: -20px;
	  position: absolute;
	  top: 50%;
  }
  .owl-prev {
	left: 10px;
  }
  .owl-next {
	  right: 10px;
  }

/* .owl-nav {
	width: 95%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	margin: -250px auto 250px auto;
}

button.owl-prev span, button.owl-next span {
	font-size: 30px;
} */

/* —————————————————— Adaptive Section —————————————————— */

@media (min-width: 1920px) {
	.container {
		max-width: 1600px;
	}
	.header__body {
		height: 105px;
	}	
	ul.header__list li {
		padding: 39px 5px;
	}
	p, li {
		/* font-size: 20px; */
	font-size: calc(12px + 4 * (100vw / 1200))!important;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 1140px;
	}
	.event-card {
		max-width: 100%;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 960px;
	}

	.block {
		width: 100%;
	}

	.block-second, .block-third {
		padding: 30% 25%;
	}

	.block-second {
		border-bottom: 14px solid #222222;
	}

	.contacts {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.contacts {
		display: none;
	}
}


/* ————————————————————————————————— */

@media (max-width: 768px) {
	.container {
		max-width: 100%;
	}

	input[type="text"], input[type="email"], input[type="tel"] {
		width: 90%;
	}

	.header__body {
		padding: 15px;
	}

	.personal-offer {
		max-width: 90%;
	}
	.personal-img img {
		margin-top: 10vw;
		margin-bottom: 10vw;
	}
	/* --------------------- */
	.contacts {
		margin: 20px auto 30px auto;
		display: flex;
		flex-direction: row;
	}

	.header__burger	{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 4;
	}

	.header__burger::before,
	.header__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger span {
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__menu {
		flex-direction: column;
		position: fixed;
		top: -200%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background: #292929f8;
		padding: 70px 0px 0px 0px;
		transition: all 0.6s ease 0s;
	}

	.header__menu.active {
		top: 0;
	}

	.header__list {
		flex-direction: column;

	}

	.header__list li {
		margin: auto auto 10px auto!important;
		padding: 20px 20px!important;
	}

	.owl-prev {
		margin-left: -2.4%;
		width: 25px;
    	border-radius: 0px 15px 15px 0;
	}
	.owl-next {
		margin-right: -2.4%;
		width: 25px;
    	border-radius: 15px 0 0 15px;
	}

	.owl-next, .owl-prev {
		height: 100%;
		top: 0;
		width: 5%;
		background: #fff!important;
		opacity: 0.25;
		transition-duration: 0.5s;
	}

	.owl-next:hover, .owl-prev:hover {
		opacity: 0.45;
		transform: scale(1.03);
	}

	.owl-next:active, .owl-prev:active {
		opacity: 0.55;
		transform: scale(0.97);
	}

	/* ---------------------- */
}

/* ————————————————————————————————— */

@media (max-width: 576px) {
	.container {
		max-width: 540px;
	}
	.block-info, .block-info__2, .option__text {
		padding: 9.2% 6% 12% 6%;
	}
	.person {
		padding: 0 20px;
	}

	.personal-img {
		display: none;
	}
	
	.header__body {
		height: 65px;
	}
	.header__logo {
		flex: 0 0 55px;
	}
	.footer-wrapper {
		justify-content: center;
		flex-direction: column;
	}

	.map, .white-block {
		height: 50vh;
	}
}

/* —————————————————— Adaptive Section —————————————————— */